# Ignore les fichiers générés par npm et Node.js

##le répertoire contenant les modules Node.js installés via npm install.
node_modules/
##le fichier de verrouillage de dépendance généré par npm install.
package-lock.json

# Ignore les fichiers de configuration d'éditeur
##les répertoires de configuration des éditeurs Visual Studio Code et IntelliJ IDEA.
.vscode/
.idea/
.env

# Ignore les fichiers de logs et de sauvegarde
##les fichiers de journalisation et de sauvegarde.
*.log
*.swp

# Ignore les fichiers de base de données SQLite
*.db

# Ignore les fichiers de configuration
*.config.js
config/

# Ignore les fichiers de build
##les répertoires de build générés par des outils de construction tels que Webpack ou Babel.
build/
dist/
test/

